{% if page_obj.paginator.num_pages > 1 %}
<div class="pagination-row">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{% include 'partials/_icon.html' with name='arrow-left' size=14 %}</a>
    {% else %}
        <span class="disabled">{% include 'partials/_icon.html' with name='arrow-left' size=14 %}</span>
    {% endif %}

    {% for numero in page_obj.paginator.page_range %}
        {% if numero == page_obj.number %}
            <span class="active">{{ numero }}</span>
        {% else %}
            <a href="?page={{ numero }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ numero }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.estado %}&estado={{ request.GET.estado }}{% endif %}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" style="transform: rotate(180deg);">{% include 'partials/_icon.html' with name='arrow-left' size=14 %}</a>
    {% else %}
        <span class="disabled" style="transform: rotate(180deg);">{% include 'partials/_icon.html' with name='arrow-left' size=14 %}</span>
    {% endif %}
</div>
{% endif %}
